* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    text-align: center;
}

#mat {
    background-color: green;
    height: 700px;
    width: 1000px;
}


.card {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 140px;
    width: 100px;
    border-radius: 10%;
    background-color: white;
    border: 1px solid black;
}

.card div {
    margin: 3px;
    width: 50%;
    height: 36%;
    border-style: solid;
    flex-shrink: 1;
    border-width: 3.5px;
}

.circle div {
    border-radius: 50%;
}

.triangle div {
    border-radius: 50% / 100% 100% 0 0;
}

.blue div {
    border-color: blue;
    background-color: blue;
}

.green div {
    border-color: green;
    background-color: green;
}

.red div {
    border-color: red;
    background-color: red;
}

.hollow div {
    background-color: white;
}

.stripe div {
    background: linear-gradient(20deg, black 10%, white 10% 20%, black 20% 30%, white 30% 40%, black 40% 50%, white 50% 60%, black 60% 70%, white 70% 80%, black 80% 90%, white 90%)
}
