* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

button {
    border-radius: 10% / 30%;
    border: 2px solid #AECA68;
    background: #a6bdf3;
    height: 2em;
}

header, #rules {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #AECA68;
    position: absolute;
    background-color: #454372;
    font-size: 1.5em;
}

header {
    display: none;
    height: 750px;
    width: 1100px;
}

h1 {
    font-size: 3.5em;
}

header button, #rules-close {
    font-size: 1em;
    margin: 5px;
}

#rules {
    display: flex;
    width: 800px;
    height: 600px;
}

#game-board {
    background-color: #454372;
    height: 750px;
    width: 1100px;
}



.card {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 140px;
    width: 100px;
    border-radius: 10%;
    background-color: white;
    border: 1px solid black;
}

.card div {
    margin: 3px;
    width: 50%;
    height: 36%;
    border-style: solid;
    flex-shrink: 1;
    border-width: 3.5px;
}

.circle div {
    border-radius: 50%;
}

.triangle div {
    border-radius: 50% / 100% 100% 0 0;
}

.blue div {
    border-color: #3772FF;
    background-color: #3772FF;
}

.green div {
    border-color: #AECA68;
    background-color: #AECA68;
}

.red div {
    border-color: #C6547A;
    background-color: #C6547A;
}

.hollow div {
    background-color: white;
}

.stripe div {
    background: linear-gradient(20deg, black 10%, white 10% 20%, black 20% 30%, white 30% 40%, black 40% 50%, white 50% 60%, black 60% 70%, white 70% 80%, black 80% 90%, white 90%)
}
