* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    text-align: center;
}

#mat {
    background-color: green;
    height: 700px;
    width: 1000px;
}


.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 140px;
    width: 100px;
    border-radius: 20%;
    background-color: white;
    border: 1px solid black;
}

.card div {
    width: 80%;
    height: 57%;
    border-style: solid;
}

.square div {

}

.circle div {
    border-radius: 50%;
}

.triangle div {

}

.blue div {
    border-width: 8px;
    border-color: blue;
    background-color: blue;
}

.green div {

}

.red div {

}

.solid div {

}

.hollow div {
    background-color: white;
}

.stripe div {
    background: linear-gradient(20deg, black 10%, white 10% 20%, black 20% 30%, white 30% 40%, black 40% 50%, white 50% 60%, black 60% 70%, white 70% 80%, black 80% 90%, white 90%)
}